:root{
    --primary-color: #FFC900;
    --secondary-color: #20458F;
    --tertiary-color: #ECECEC;
}

@keyframes fadeInAnimation {
    100%{
        opacity: 1;
    }
}

@keyframes popInAnimation{
    0%{
        left: -500px;
    }
    100%{
        left: 20px;
    }
}


*{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: x-large;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


ul{
    list-style-type: none;
    margin: 10px;
}


a{
    border: 4px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

a:visited{
    color: var(--secondary-color);
}

a:hover{
    color: var(--primary-color);
    background-color: var(--secondary-color)
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
}

.flex-container-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.flex-item{
    margin: 5px;
    padding: 5px;
}


.jaune{
    background-color: var(--primary-color);
}

.gris{
    background-color: var(--tertiary-color);
}



.button{
    display: block;
    text-decoration: none;
    padding: 5px;
}

.button *{
    display: block;
    margin: auto;
    text-align: center;
}


.icon{
    height: 2em;
}

.fadeIn{
    opacity: 0;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.animationDelay2{
    animation-delay: 1s;
}

.animationDelay3{
    animation-delay: 2s;
}

.animationDelay4{
    animation-delay: 3s;
}

.popIn{
    position: relative;
    animation: popInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#img_profil{
    width: 20%;
    max-width: 200px;
    min-width: 100px;
    border-radius: 50%;
}

#div_infos *{
    font-size: large;
}


#div_raisons{
    padding: 10px;
}

#div_raisons h1{
    margin: 20px;
}

#div_raisons ul{
    width: 75%;
    margin: 20px auto;
    padding: 5px;
    list-style:circle;
}

#div_raisons ul li{
    margin: 10px;
}


